/* body {
    font-family: Times New Roman,sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: violet;
    color: black;
}
.container {
   margin-bottom: 300px; 

}
h1 {
   margin-bottom: 500px; 
} */

.container {    display: flex;
   justify-content: center;    align-items: center;
}
.container { 
   box-sizing: border-box; 
   padding: 10px; /* Пример отступа */ 
}
.button{
   padding: 10px;
}

.row {
   padding: 10px;
}

.cell{
   padding: 10px;
}

